PUID=1026
PGID=100
TZ=Asia/Shanghai
XHS_CDP_URL=http://192.168.0.153:9050/api/profiles/replace-with-profile-id/cdp
XHS_CDP_TOKEN=replace-with-cloakbrowser-access-token
XHS_NOTIFICATION_URL=https://www.xiaohongshu.com/notification
XHS_PROBE_TIMEOUT_SECONDS=30
